/*  CONTENT: 
    ROOT
    HEADER
    FOOTER
    GENERAL
    TEMPLATES
    SPECIFIC PAGES
    MEDIA QUERIES */


/* START ROOT /*
/*Applies to everything, be careful about what you put here*/
:root {
    font-family: Helvetica, Arial, sans-serif;
    font-size: clamp(0.9rem, 2vw, 1.5rem);
    /*Font size scale with screen size, with a max and min size*/
}

/* END ROOT /*

/ *START HEADER */
header {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 0.5rem;
    text-align: center;
}
nav{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
     position: sticky;
    top: 0;
    overflow: hidden;
}

nav menu{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    padding:0;
    padding-bottom: 0.5rem;
}

nav li{
    width: 10rem;
    height: 1rem;
    margin: 0.2rem;
    padding: 1rem;
    font-size: clamp(1.1rem, 3vw, 1.5rem);
}

nav a{
    color: yellow !important;
    /*!imporant so the color does not change according to other link changes*/
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* END HEADER /*

/* START FOOTER */
footer {}

/* END FOOTER */

/* START GENERAL */
/* CSS that applies to all pages only */

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    padding: 0rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

body {
    text-align: center;
    padding: 0;
    margin: 0;
}

a:link {
    color: blue;
    font-weight: bold;
}

a:hover {
    color: red;
}

a:visited {
    color: purple;
}

/* END GENERAL */

/* START TEMPLATES */
/* Styling that can be used on multiple pages or elements */
p.sixty-width {
    max-width: 60%;
    margin: auto;
    padding: 1rem;
}

section.grid-container-shortinfo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr)); 
    /*auto-resizing grid layout: https://blog.stackademic.com/auto-resizing-grid-layout-with-html-css-3ec0e3b56c52 */
    gap: 0em 2rem;
    margin-right: 15%;
    margin-left: 15%;

}

div.grid-item-shortinfo {
    font-size: 1rem;
    text-align: center;
    border-top: solid 0.1rem;
    padding: 1rem;
}

/* END TEMPLATES */

/* START MATMOD */
section.matmodinfo {
    width: 65%;
    max-width: 100%;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

details.matmod {
    border-top: 0.1rem solid;
    padding: 1rem;
}

/*makes borders not overlap*/
details.matmod:last-child {
    border-bottom: 0.1rem solid;
}

details[open].matmod p {
    text-align: left;
    line-height: 2rem;
    font-size: 1rem;
}

details[open].matmod ul {
    text-align: left;
    line-height: 2rem;
    font-size: 1rem;
}

details[open].matmod h2 {
    text-align: left;
    line-height: 2rem;
    font-size: 1rem;
    padding: 0;
}

summary {
    font-size: 1.05rem;
    font-weight: bold;
    padding: 0.8rem;
    cursor: pointer;
    text-align: left;
}

   /*Makes summary text normal where needed*/
summary.smalltext {
    font-size: 1rem;
    font-weight: normal;
}

/* Styling of tables in matmod*/
table {
    border-collapse: collapse;
    border: 0.125rem solid #CCCCCC;
    border-radius: 0.3125rem;
    width: 100%;
    letter-spacing: 0.0625rem;
    font-size: 0.9rem;
    margin: 1.25em 0;
    table-layout: fixed;
}
/* Link styling in tables */
table a {
    color: inherit !important;
    font-weight: 400 !important;
    text-decoration: underline;
    text-decoration-color: #007BFF;
}
/* Link hover effect */
table a:hover {
    text-decoration: underline !important;
    text-decoration-color: #0056b3 !important;
}

/* Adds and styles a bullet point symbol */
.valgfri-emne td:nth-child(3)::after{
    content: '•';
    color: #48b862; 
    font-weight: none; 
    font-size: 1.5rem; 
}

/* General styling for table cells */
td,th {
    border: 0.0625rem solid #D3D3D3;
    padding: 0.75rem 1.25rem;
    line-height: 1.5rem;
    white-space: normal;
    word-break: break-word;
}

th {
    background-color: #E8E8E8;
    color: #333;
    font-weight: bold;
}

td {
    text-align: left;
}

/* Even rows background color */
tr:nth-child(even) td {
    background-color: #F9F9F9;
}

/* Odd rows background color */
tr:nth-child(odd) td {
    background-color: #FFFFFF;
}

caption {
    text-align: left;
    padding: 0.75rem;
    font-weight: bold;
    font-size: 1rem;
    color: #555
}

/*Images in matmod */
img.matmodtop {
    max-width: 70%;
    height: auto;
    width: auto;
    padding-bottom: 1rem;
}

/* END MATMOD */

/*START GITHUB*/


/* Grid for images*/
section.image-grid-container {
    display: grid;
    grid-template-columns: repeat(2,1fr); /* two images placed side by side*/
    padding: 1vw;
    gap: 1vw; /* Distance between the images */
    align-items: stretch; 
    
}


section.image-grid-container img {
    height: auto;
    width: 100%;
}

/* Includes all three subheadings*/
article.github_textcontent_container {
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    padding-left: 5%;
    padding-right: 5%;
}

/*.paragraf1_tekst, .paragraf2_tekst, .paragraf3_tekst*/
.GridContainer {
    display: grid;

    /* display: inline-grid;*/
}

/*.alle_paragrafer, .paragraf1_tekst, .paragraf2_tekst, .paragraf3_tekst*/
.alle_paragrafer {
    grid-area: 1 / 2 / 5 / 6;
}


#listeramme{
 border:  solid #007BFF  
}

ol{
   /* border: #555;*/
   
}

li {
    padding: 5%;
    font-weight: bold; 
}
dd{
 
}

/*END GITHUB*/

/*START MEDIA QUERIES*/

/*For smaller devices*/
@media (max-width: 758px) {

    
    section.matmodinfo {
        width: 100%;
    }

    section.grid-container-shortinfo {
        grid-template-columns: repeat(auto-fill, minmax(20rem, 100rem));
        gap: 0 2rem;
        margin-left: auto;
        margin-right: auto;
    }
}
/*For Ultrawide devices */
@media (min-width: 1600px) {

    section.matmodinfo {
        max-width: 1600px;

    }

    section.grid-container-shortinfo {
        max-width: 1600px;
        margin-right: auto;
        margin-left: auto;
    }

    p.sixty-width {
        max-width: 1600px;
    }
    img.matmodtop {
        max-width: 1600px;
    }
}

/* END MEDIA QUERIES */

/*START ACCESSIBILITY*/
.img_tests img{
    width: 50%;
    height: 50%;
}

/*END ACCESSIBILITY*/