/*  SECTIONS: 
    ROOT
    HEADER
    FOOTER
    GENERAL
    TEMPLATES
    SPECIFIC PAGES
    MEDIA QUERIES */


/* START ROOT */
/*Applies to everything, be careful about what you put here*/
:root {
    /* Sets the font for everything */
    font-family: Helvetica, Arial, sans-serif;
    /*Font size scale with screen size, with a max and min size*/
    font-size: clamp(0.9rem, 1.6vw, 1.5rem); 
}

/* END SECTION */

/* START HEADER */

/* Sets the gradient background for the menu */
header { 
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(0, 212, 255) 100%);
    padding: 0.5rem;
}
 /* Sets menu as a flex box */
nav menu{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    padding:0;
    padding-bottom: 0.5rem;
}

/* Sets size of the menu items */
nav li{
    width: 10rem;
    height: 1rem;
    margin: 0.2rem;
    padding: 1rem;
    font-size: clamp(1.1rem, 3vw, 1.5rem);
    
}
 /* Style of links in menu */
nav a{
    /*!imporant so the color does not change according to other link changes*/
    color: yellow !important;
    text-decoration: none;
}

 /* Makes it clearer that you are hovering over a menu item */
nav a:hover {
    text-decoration: underline;
}

/* END SECTION /*

/* START FOOTER */
footer {

}

/* END SECTION */

/* START GENERAL */
/* CSS that applies to all pages only */

h1,h2,h3,h4,h5,h6 {
    /* Centers all headers, removes padding */
    text-align: center;
    padding: 0rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

 /* Centers all text within body */
body {
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Sets default link style */
a:link {
    color: blue;
    font-weight: bold;
}
a:hover {
    color: red;
}
a:visited {
    color: purple;
}

/* SECTION*/

/* START TEMPLATES */
/* Styling that can be used on multiple pages or elements */

/* Used to limit width of paragraph so it doesnt become wider than everything else, use where needed */
p.sixty-width {
    max-width: 60%;
    margin: auto;
    padding: 1rem;
}
/* Small paragraph font, use where needed */
p.tiny{
    font-size: clamp(0.7rem, 1.1vw, 1.1rem);
}


/* END SECTION */

/* START MATMOD */

/*Grid for the short info boxes on top of matmod page */
section.grid-container-shortinfo {
    /* Auto-resizing grid layout: https://blog.stackademic.com/auto-resizing-grid-layout-with-html-css-3ec0e3b56c52 */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    grid-auto-flow: row;
    gap: 0em 2rem;
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
}
/* style of short info boxes */
div.grid-item-shortinfo {
    font-size: 1rem;
    text-align: center;
    border-top: solid 0.1rem;
    padding: 1rem;
}

/* Styling for matmod "Om Studie" section */

/* Limits width and centers section */
section.matmodinfo { 
    width: 65%;
    max-width: 100%;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

/*Styling for collapsable info boxes */
details.matmod {
    border-top: 0.1rem solid;
    padding: 1rem;
}
/*makes borders not overlap*/
details.matmod:last-child {
    border-bottom: 0.1rem solid;
}
/* Styles text in info boxes  */
details[open].matmod p,
details[open].matmod ul,
details[open].matmod h2  {
    text-align: left;
    line-height: 2rem;
    font-size: 1rem;
}

 /* Styles the summary style of the collapsable boxes */
summary {
    font-size: 1.05rem;
    font-weight: bold;
    padding: 0.8rem;
    cursor: pointer;
    text-align: left;
}

/* Makes summary text normal were needed, ex: nested tables under "studiets oppbygging */
summary.smalltext {
    font-size: 1rem;
    font-weight: normal;
}

/* Styling of tables in matmod*/
/* changes the border */
table {
    border-collapse: separate; 
    border-spacing: 0; 
    border: none; 
    border-radius: 0.625rem; 
    width: 100%;
    letter-spacing: 0.0625rem;
    font-size: 0.9rem;
    margin: 1.25em 0;
    table-layout: fixed;
}

/* Link styling in tables */
table a {
    color: inherit !important;
    font-weight: 400 !important;
    text-decoration: underline;
    text-decoration-color: #007BFF;
}
/* Link hover effect */
table a:hover {
    text-decoration: underline !important;
    text-decoration-color: #0056b3;
}

/* Adds and styles a bullet point symbol */
.valgfri-emne td:nth-child(3)::after{
    content: '•';
    color: #599f69; 
    font-weight: none; 
    font-size: 1.5rem; 
    text-align: right !important;
}

/* General styling for table cells */
td,th {
    border: none;
    padding: 0.75rem 1.25rem;
    word-break: break-word;
}
/* Adds rounded corners to the first cell in each row */
th:first-child, td:first-child {
    border-top-left-radius: 0.625rem; 
    border-bottom-left-radius: 0.625rem;
}
/* Adds rounded corners to the last cell in each row  */
th:last-child, td:last-child {
    border-top-right-radius: 0.625rem; 
    border-bottom-right-radius: 0.625rem; 
}
/* Styles table head */
th {
    background-color: #6c6c6c;
    color: #fff;
    font-weight: bold;
}

/* Aligns text in table cells*/
td {
    text-align: left;
}

/* Changes color when hover over tables */
tr:hover td {
    color: none;
    cursor: pointer;
    background-color: #dccdcd !important;
 }
/* Even rows background color */
tr:nth-child(even) td {
    background-color: #eeecec;
    
}

/* Odd rows background color */
tr:nth-child(odd) td {
    background-color: #f9f7f7;
}
/* Styles the caption over each table */
caption {
    text-align: left;
    padding: 0.75rem;
    font-weight: bold;
    font-size: 1rem;
    color: #555
}

/*Flex container for aside in matmod*/
.matmodflex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
    margin: auto;
    margin: auto;
    gap: 1rem 1rem;
}
/* Styles the flex boxes in aside */
.matmodflex-item{
    background:rgb(0, 140, 255);
    padding: 1rem;
    text-align: center;
    width: 31vw;
    color: #F9F9F9;
}
/* longer flex box for "spå fremtiden" */
.matmodflex-item-long{
    background:rgb(0, 140, 255);
    padding: 1rem;
    text-align: center;
    width: 66.9vw;
    color: #F9F9F9;
}
/* Makes link color yellow in flex boxes */
.matmodflex-item a, .matmodflex-item-long a p{
        color: yellow;
        text-decoration: underline;
}
/* Styles the nested div box containing info about fagleder in matmod */
div.fagleder, div.utdanninger{
    border-top: solid;
    border-bottom: solid;
    border-width: 0.1rem;
    float: left;
    padding: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    width: 97%;
}
/* Styling for "spå fremtiden" box */
div.left{
    float:left;
    width: 45%;
    text-align: right;
    margin-left: 3%;
}
div.right{
   float: right;
   width: 45%;
   margin-right: 3%;
   }

/*Images in matmod */

/* Sizing of decorative image in matmod */
img.matmodtop {
    max-width: 70%;
    height: auto;
    width: auto;
    padding-bottom: 1rem;
}
/* Sizing of fagleder/utdannings image in matmod */
img.fagleder, img.utdannings_bilder{
    max-width: 35%;
    height: auto;
    width: auto;
    /* Makes image sit to the left of text */
    float: left;
}

/* Sizing of decorative image in "spå fremtiden" box */
img.twoguyslaptop{
    max-width: 100%;
}

/* END SECTION */

/*START GITHUB*/

/* Grid for images*/
section.image-grid-container {
    display: grid;
    grid-template-columns: repeat(2,1fr); /* two images placed side by side*/
    padding: 1vw;
    gap: 1vw; /* Distance between the images */
    align-items: stretch; 
    
}

section.image-grid-container img {
    height: auto;
    width: 100%;
}

/* Includes all three subheadings*/
article.github_textcontent_container {
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    padding-left: 5%;
    padding-right: 5%;
}

/*.paragraf1_tekst, .paragraf2_tekst, .paragraf3_tekst*/
.GridContainer {
    display: grid;

    /* display: inline-grid;*/
}

/*.alle_paragrafer, .paragraf1_tekst, .paragraf2_tekst, .paragraf3_tekst*/
.alle_paragrafer {
    grid-area: 1 / 2 / 5 / 6;
    
}


.listeramme{
    margin-left: 20%;
 border:  solid #007BFF;  
 max-width: 50%;
    max-height: 50%;
    padding: 5%;
    line-height: 2em;
}

ol.temp{
   /* border: #555;*/
   
}

.listeramme li{
    font-size: medium;
    padding: 5%;
    font-weight: bold; 
}

.imgcomment {

    padding-left: 50%;
    padding-right: 50%;
}
/*END SECTION*/




/*START ACCESSIBILITY*/
.img_tests img{
    width: 50%;
    height: 50%;
}
.testarticle{
    padding: 5%;
    margin: 5%;
}
/*media q ultrawide max width 1600*/
/*END SECTION*/




/*START MEDIA QUERIES*/

/*For smaller devices*/
@media (max-width: 758px) {

    /* Sections take up whole width on smaller devices */
    section.matmodinfo,
    section.grid-container-shortinfo,
    .matmodflex,
    .matmodflex-item,
    .matmodflex-item-long {
        width: 100%;
        max-width: 100%;
    }

    /* short info boxes take up whole width on smaller devices */
    section.grid-container-shortinfo {
        grid-template-columns: 1fr;
    }

    .matmodflex{
        /* Makes gap between boxes slightly larger on small devices*/
        gap: 1.5rem 1.5rem;
    }

    /* Fagleder image goes above text on smaller devices */
    img.fagleder{
        float: none;
        /* reduce width due to image having more overall width when above text */
        max-width: 15%;
    }
}

/* Everything below sets a max width for larger devices */
@media (min-width: 1600px) {

    section.matmodinfo,  
    section.grid-container-shortinfo, 
    p.sixty-width, 
    img.matmodtop {
        max-width: 1600px;
    } 
    .matmodflex{
        max-width: 1800px;
        padding: 0;
    }
    .matmodflex-item{
        max-width: 740px;
    }
    .matmodflex-item-long{
        max-width: 1555px;
    }
    
}
/* END SECTION */
